:root {
  --background-color: #2e2756;
  --text-title-color: #ffffff;
  --background-form-login-color: #433e5a;
  --background-input-login-color: #c4c4c4;
  --text-input-color: #4a4a4a;
  --text-link-color: #b8b8b8;
  --button-save-color: #36a634;
  --button-clean-color: #cf1717;
  --error-input-form-color: #f9c9c9;
  --background-home-color: #f0eff6;
  --hover-menu-color: #2e236b;
}

body {
  margin: 0%;
  font-family: "Fredoka One", cursive;
  height: 100%;
  background-color: #f6f6f6;
}

.container-fluid {
  display: flex;
  padding: 0px;
}

.nav-vertical {
  width: 6%;
  height: 87vh;
}

.buttons {
  border: 0px;
  padding: 0px;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  margin-top: 1rem;
}

.buttons button {
  margin-top: 4rem;
  background-color: #f6f6f6;
  border: none;
}

.blackiconcolor {
  color: #433e5a;
}

.nav-horizontal {
  background-color: #433e5a;
}

.body {
  width: 100%;
}

.nav-horizontal {
  height: 15%;
  color: var(--text-title-color);
  display: flex;
  width: 100%;

}

.logo {
  display: flex;
  margin-left: 3rem;
}

.logo p {
  margin: 0px;
  margin-top: 1.5rem;
  font-size: 3rem;
}

#tm {
  font-size: 1rem;
  padding-top: 10px;
}

.frase {
  width: 70%;
  margin-left: 5rem;
  margin-top: 2.5rem;
  font-size: 2rem;
}

.nav-horizontal img {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  display: flex;
  margin-top: 25px;
  margin-left: 0rem;
}

.dropdown {
  display: none;
}

.content {
  background-color: var(--background-home-color);
  height: 100%;
}

.newChallenge {
  display: flex;
  padding-top: 3rem;
  margin-left: 2.5rem;
}

.text p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.text hr {
  height: 10px;
  width: 8rem;
  border-radius: 10px;
  background-color: #433e5a;
  border: none;
  margin: 0;
  opacity: 1;
}

.button button {
  border-radius: 15px;
  height: 40px;
  width: 40px;
  margin-top: 7px;
  margin-left: 1rem;
  text-align: center;
  background-color: #665e87;
  border-color: #665e87;
}

.button i {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.button button:hover {
  background-color: var(--background-form-login-color);
}

.button button:focus {
  background-color: var(--background-form-login-color);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(46, 39, 86, 0.6);
}

.challenge {
  margin-top: 3rem;
}

.table {
  width: 95%;
  margin: auto;
  display: table;
}

td:nth-child(1) {
  padding-left: 1rem;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(2) {
  width: 20%;
  max-width: 20%;
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(3) {
  width: 8%;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(4) {
  width: 8%;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(5) {
  width: 65%;
  max-width: 65%;
  word-break: break-all;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(6) {
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(7) {
  padding-right: 1rem;
  display: table-cell;
  vertical-align: middle;
}

td:nth-child(8) {
  display: table-cell;
  vertical-align: middle;
}

.hidden-table {
  visibility: hidden;
}

.button-down {
  display: none;
}

.ul-drop {
  display: none;
}

.button-edit {
  height: 100%;
  border: 0;
  background-color: var(--background-home-color);
}

.button-edit:hover {
  background-color: var(--background-color);
  color: var(--text-title-color);
  border-radius: 5px;
}

.button-delet {
  border: 0;
  background-color: var(--background-home-color);
}

.button-delet:hover {
  background-color: var(--background-color);
  color: var(--text-title-color);
  border-radius: 5px;
}

.btn-secondary {
  background-color: #ced4da;
  border: #ced4da;
}

.btn-secondary:hover {
  background-color: #9aa6b3;
}

.form-control {
  resize: none;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
  border: black;
}

.hidden {
  display: none;
}

/*media query*/
@media screen and (min-width: 1400px) {
  .nav-horizontal img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    margin-top: 25px;
    margin-right: 2rem;
    margin-left: 5rem;
  }
}

@media screen and (max-width: 1400px) {
  body {
    overflow: hidden;
  }

  .nav-vertical {
    width: 6%;
  }

  .nav-horizontal {
    height: 18%;
  }

  .nav-horizontal img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    margin-top: 25px;
    margin-right: 2rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 1200px) {
  .nav-vertical {
    width: 6%;
  }

  .buttons {
    border: 0px;
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-right: 1.3rem;
  }

  .logo p {
    margin: 0px;
    margin-top: 3rem;
    font-size: 2rem;
  }

  #tm {
    font-size: 0.5rem;
    padding-top: 10px;
  }

  .frase {
    width: 60%;
    margin-left: 5rem;
    margin-top: 2.5rem;
    font-size: 2rem;
  }

  .frase p {
    margin-top: 0.5rem;
  }

  .nav-horizontal img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    margin-top: 25px;
    margin-right: 2rem;
    margin-left: 0rem;
  }

  td:nth-child(3) {
    width: 12%;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(4) {
    width: 12%;
    display: table-cell;
    vertical-align: middle;
  }
}

@media screen and (max-width: 1199px) {
  .nav-horizontal img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    display: flex;
    margin-top: 35px;
    margin-right: 2rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 900px) {
  .logo p {
    margin: 0px;
    margin-top: 2rem;
    font-size: 2rem;
  }

  .frase {
    width: 60%;
    margin-left: 5rem;
    margin-top: 2.5rem;
    font-size: 1rem;
  }

  .nav-horizontal img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    margin-top: 30px;
    margin-right: 2rem;
    margin-left: 0rem;
  }
}

@media screen and (max-width: 768px) {
  .buttons {
    border: 0px;
    padding: 0px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 1rem;
    margin-right: 1rem;
  }

  .buttons button {
    font-size: 0.7rem;
  }

  .frase {
    width: 60%;
    margin-left: 5rem;
    margin-top: 2.5rem;
    font-size: 1rem;
  }

  .nav-horizontal img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    margin-top: 30px;
    margin-right: 2rem;
    margin-left: 0rem;
  }

  .text p {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .text hr {
    height: 5px;
    width: 8rem;
    border-radius: 10px;
    background-color: #433e5a;
    border: none;
    margin: 0;
    opacity: 1;
  }

  .button button {
    border-radius: 10px;
    height: 30px;
    width: 30px;
    margin-top: 4px;
    margin-left: 1rem;
    text-align: center;
    background-color: #665e87;
    border-color: #665e87;
  }

  .button i {
    font-size: 1rem;
    display: flex;
    justify-content: center;
  }

  td:nth-child(3) {
    width: 12%;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(4) {
    width: 12%;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(5) {
    width: 65%;
    max-width: 65%;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
  }

  .table {
    width: 95%;
    margin: auto;
    display: table;
    font-size: 0.7rem;
  }

  .modal-content {
    width: 450px;
  }
}

@media screen and (max-width: 630px) {
  .frase {
    width: 60%;
    margin-left: 2rem;
    margin-top: 2.5rem;
    font-size: 1rem;
  }
}

@media screen and (max-width: 576px) {
  body {
    padding-right: 0px !important;
  }

  .nav-vertical {
    display: none;
  }

  .nav-horizontal {
    height: 7rem;
  }

  .nav-horizontal img {
    display: none;
  }

  .frase p {
    display: none;
  }

  .dropdown {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: -70%;
  }

  .button-drop {
    height: 2rem;
    width: 3rem;
    margin-top: 2.5rem;
    margin-left: 6rem;
  }

  .button-drop {
    background-color: #534b85;
  }

  .button-drop:focus {
    background-color: #353056;
  }

  .dropdown-menu {
    font-size: 0.8rem;
  }

  .dropdown .content {
    width: 100%;
  }

  .newChallenge {
    margin-left: 3rem;
  }

  td:nth-child(1) {
    padding-left: 1rem;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(2) {
    width: 25%;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(3) {
    width: 8%;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(4) {
    width: 8%;
    display: table-cell;
    vertical-align: middle;
  }

  td:nth-child(5) {
    width: 42%;
    max-width: 42%;
    word-break: break-all;
    display: table-cell;
    vertical-align: middle;
  }

  .modal-content {
    width: 80%;
    font-size: 0.8rem;
    margin: auto;
  }

  .content {
    height: 85vh;
  }

  .modal-title {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 426px) {
  .button-drop {
    height: 2rem;
    width: 3rem;
    margin-top: 2.5rem;
    margin-left: 8rem;
  }

  td:nth-child(6) {
    visibility: hidden;
    padding: 0px;
  }

  td:nth-child(7) {
    visibility: hidden;
    padding: 0px;
  }

  td:nth-child(8) {
    margin-left: -10%;
  }

  .button-edit {
    display: none;
  }

  .button-delet {
    display: none;
  }

  .font-size {
    font-size: 0.7rem;
    padding: 0px;
  }

  .ul-style {}

  .size {
  }

  .dropdown-menu {
    min-width: 0rem !important;
  }
}

@media screen and (max-width: 375px) {
  .button-drop {
    height: 2rem;
    width: 3rem;
    margin-top: 2.5rem;
    margin-left: 6rem;
  }
}